.43_984 { 
	overflow:hidden;
}.e43_984 { 
	width:1156px;
	height:1930.7540283203125px;
	position:absolute;
}.e6_69 { 
	width:578px;
	height:24px;
	position:absolute;
	left:485px;
	top:0px;
}.e1_6 { 
	color:rgba(0, 0, 0, 1);
	width:45px;
	height:19px;
	position:absolute;
	left:283px;
	top:3px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e1_22 { 
	color:rgba(0, 0, 0, 1);
	width:58px;
	height:19px;
	position:absolute;
	left:358px;
	top:3px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e1_7 { 
	color:rgba(113.00000086426735, 128.0000075697899, 150.0000062584877, 1);
	width:66px;
	height:19px;
	position:absolute;
	left:31px;
	top:3px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e1_8 { 
	width:20px;
	height:20px;
	position:absolute;
	left:0px;
	top:2px;
}.e1_9 { 
	width:20px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_10 { 
	background-color:rgba(0, 0, 0, 1);
	width:16.928333282470703px;
	height:16.928333282470703px;
	position:absolute;
	left:1.6666667461395264px;
	top:1.6666667461395264px;
}.e1_13 { 
	width:24px;
	height:24px;
	position:absolute;
	left:444px;
	top:0px;
}.e1_14 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_15 { 
	background-color:rgba(69.0625025331974, 67.91146069765091, 67.91146069765091, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:2px;
	top:2px;
}.e1_16 { 
	width:24px;
	height:24px;
	position:absolute;
	left:499px;
	top:0px;
}.e1_17 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_18 { 
	background-color:rgba(69.0625025331974, 67.91146069765091, 67.91146069765091, 1);
	width:20.384000778198242px;
	height:16.573453903198242px;
	position:absolute;
	left:1.7790000438690186px;
	top:3.6885499954223633px;
}.e1_19 { 
	width:24px;
	height:24px;
	position:absolute;
	left:554px;
	top:0px;
}.e1_20 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_21 { 
	background-color:rgba(69.0625025331974, 67.91146069765091, 67.91146069765091, 1);
	width:18px;
	height:18px;
	position:absolute;
	left:3px;
	top:3px;
}.e6_79 { 
	color:rgba(0, 0, 0, 1);
	width:102px;
	height:24px;
	position:absolute;
	left:-398px;
	top:2px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e6_70 { 
	width:966px;
	height:243px;
	position:absolute;
	left:97px;
	top:557px;
}.e3_2 { 
	box-shadow:0px 5px 4px rgba(221.00000202655792, 221.00000202655792, 221.00000202655792, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:966px;
	height:243px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}.3_2 { 
	border:1px solid rgba(226.31249696016312, 226.31249696016312, 226.31249696016312, 1);
}.e6_10 { 
	color:rgba(45.00000111758709, 55.00000052154064, 72.00000330805779, 1);
	width:246.2747344970703px;
	height:36px;
	position:absolute;
	left:54.28095626831055px;
	top:41px;
	font-family:Inter;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}.e6_11 { 
	color:rgba(113.00000086426735, 128.0000075697899, 150.0000062584877, 1);
	width:92.47865295410156px;
	height:15px;
	position:absolute;
	left:54.28095626831055px;
	top:185px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e6_13 { 
	width:433.242431640625px;
	height:243px;
	position:absolute;
	left:532.757568359375px;
	top:0px;
	background-image:url(images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e6_16 { 
	color:rgba(45.00000111758709, 55.00000052154064, 72.00000330805779, 1);
	width:63.32781982421875px;
	height:15px;
	position:absolute;
	left:392.02911376953125px;
	top:185px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e6_8 { 
	color:rgba(113.00000086426735, 128.0000075697899, 150.0000062584877, 1);
	width:403.08636474609375px;
	height:51px;
	position:absolute;
	left:52.27055358886719px;
	top:104px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e6_66 { 
	width:300px;
	height:382px;
	position:absolute;
	left:97px;
	top:843px;
}.e6_41 { 
	box-shadow:0px 4px 4px rgba(192.31249898672104, 189.10729497671127, 189.10729497671127, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:300px;
	height:382px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}.e6_46 { 
	color:rgba(45.00000111758709, 55.00000052154064, 72.00000330805779, 1);
	width:245px;
	height:24px;
	position:absolute;
	left:16px;
	top:197px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e6_49 { 
	color:rgba(113.00000086426735, 128.0000075697899, 150.0000062584877, 1);
	width:92px;
	height:15px;
	position:absolute;
	left:16px;
	top:343px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e6_48 { 
	color:rgba(45.00000111758709, 55.00000052154064, 72.00000330805779, 1);
	width:63px;
	height:15px;
	position:absolute;
	left:213px;
	top:343px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e6_45 { 
	width:297px;
	height:179px;
	position:absolute;
	left:2px;
	top:0px;
	background-image:url(images/image_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e6_47 { 
	color:rgba(113.00000086426735, 128.0000075697899, 150.0000062584877, 1);
	width:258px;
	height:85px;
	position:absolute;
	left:17px;
	top:236px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e6_67 { 
	width:300px;
	height:382px;
	position:absolute;
	left:430px;
	top:843px;
}.e6_50 { 
	box-shadow:0px 4px 4px rgba(192.31249898672104, 189.10729497671127, 189.10729497671127, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:300px;
	height:382px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}.e6_51 { 
	color:rgba(45.00000111758709, 55.00000052154064, 72.00000330805779, 1);
	width:245px;
	height:24px;
	position:absolute;
	left:16px;
	top:197px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e6_52 { 
	color:rgba(113.00000086426735, 128.0000075697899, 150.0000062584877, 1);
	width:92px;
	height:15px;
	position:absolute;
	left:16px;
	top:343px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e6_53 { 
	color:rgba(45.00000111758709, 55.00000052154064, 72.00000330805779, 1);
	width:63px;
	height:15px;
	position:absolute;
	left:213px;
	top:343px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e6_55 { 
	color:rgba(113.00000086426735, 128.0000075697899, 150.0000062584877, 1);
	width:258px;
	height:85px;
	position:absolute;
	left:17px;
	top:236px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e6_63 { 
	width:300px;
	height:179px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e6_68 { 
	width:300px;
	height:382px;
	position:absolute;
	left:763px;
	top:843px;
}.e6_56 { 
	box-shadow:0px 4px 4px rgba(192.31249898672104, 189.10729497671127, 189.10729497671127, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:300px;
	height:382px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}.e6_57 { 
	color:rgba(45.00000111758709, 55.00000052154064, 72.00000330805779, 1);
	width:245px;
	height:24px;
	position:absolute;
	left:16px;
	top:197px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e6_58 { 
	color:rgba(113.00000086426735, 128.0000075697899, 150.0000062584877, 1);
	width:92px;
	height:15px;
	position:absolute;
	left:16px;
	top:343px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e6_59 { 
	color:rgba(45.00000111758709, 55.00000052154064, 72.00000330805779, 1);
	width:63px;
	height:15px;
	position:absolute;
	left:213px;
	top:343px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e6_61 { 
	color:rgba(113.00000086426735, 128.0000075697899, 150.0000062584877, 1);
	width:258px;
	height:85px;
	position:absolute;
	left:17px;
	top:236px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e6_65 { 
	width:300px;
	height:179px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e6_81 { 
	width:1152px;
	height:467px;
	position:absolute;
	left:4px;
	top:51px;
}.e6_78 { 
	background-color:rgba(250.75000405311584, 250.75000405311584, 250.75000405311584, 1);
	width:1152px;
	height:467px;
	position:absolute;
	left:0px;
	top:0px;
}.e6_73 { 
	width:476px;
	height:323px;
	position:absolute;
	left:583px;
	top:70px;
	background-image:url(images/croods_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e6_74 { 
	color:rgba(0, 0, 0, 1);
	width:354px;
	height:146px;
	position:absolute;
	left:127px;
	top:131px;
	font-family:Inter;
	text-align:left;
	font-size:60px;
	letter-spacing:0;
}.e6_75 { 
	color:rgba(74.0000031888485, 85.0000025331974, 104.00000140070915, 1);
	width:328px;
	height:36px;
	position:absolute;
	left:127px;
	top:296px;
	font-family:Inter;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}.e6_77 { 
	transform: rotate(-23.284557891177872deg);
	width:70px;
	height:67px;
	position:absolute;
	left:322.608154296875px;
	top:220.56390380859375px;
	background-image:url(images/image_6.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e6_150 { 
	width:965px;
	height:500px;
	position:absolute;
	left:98px;
	top:1268px;
}.e6_123 { 
	background-color:rgba(247.00000047683716, 250.00000029802322, 252.00000017881393, 1);
	width:965px;
	height:500px;
	position:absolute;
	left:0px;
	top:0px;
}.e6_120 { 
	width:525px;
	height:500px;
	position:absolute;
	left:440px;
	top:0px;
	background-image:url(images/image_7.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e6_122 { 
	color:rgba(113.00000086426735, 128.0000075697899, 150.0000062584877, 1);
	width:311px;
	height:114px;
	position:absolute;
	left:63px;
	top:218px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e6_124 { 
	color:rgba(0, 0, 0, 1);
	width:84px;
	height:19px;
	position:absolute;
	left:291px;
	top:363px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e6_125 { 
	color:rgba(74.0000031888485, 85.0000025331974, 104.00000140070915, 1);
	width:57px;
	height:19px;
	position:absolute;
	left:63px;
	top:363px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e6_121 { 
	color:rgba(0, 0, 0, 1);
	width:308px;
	height:96px;
	position:absolute;
	left:63px;
	top:98px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e6_149 { 
	width:1152.0069580078125px;
	height:51.7540283203125px;
	position:absolute;
	left:0px;
	top:1879px;
}.e6_128 { 
	width:24px;
	height:22.7540283203125px;
	position:absolute;
	left:925px;
	top:29px;
}.e6_129 { 
	width:24px;
	height:22.7540283203125px;
	position:absolute;
	left:0px;
	top:0px;
}.e6_130 { 
	background-color:rgba(69.0625025331974, 67.91146069765091, 67.91146069765091, 1);
	width:20px;
	height:18.96169090270996px;
	position:absolute;
	left:2px;
	top:1.8961690664291382px;
}.e6_131 { 
	background-color:rgba(69.0625025331974, 67.91146069765091, 67.91146069765091, 1);
	width:20.38397216796875px;
	height:15.7130126953125px;
	position:absolute;
	left:981.7789916992188px;
	top:32.4969482421875px;
}.e6_132 { 
	width:24px;
	height:22.7540283203125px;
	position:absolute;
	left:1035px;
	top:29px;
}.e6_133 { 
	width:24px;
	height:22.7540283203125px;
	position:absolute;
	left:0px;
	top:0px;
}.e6_134 { 
	background-color:rgba(69.0625025331974, 67.91146069765091, 67.91146069765091, 1);
	width:18px;
	height:17.065521240234375px;
	position:absolute;
	left:3px;
	top:2.8442535400390625px;
}.e6_127 { 
	color:rgba(0, 0, 0, 1);
	width:337px;
	height:19px;
	position:absolute;
	left:93px;
	top:29px;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.6_135 { 
	border:1px solid rgba(231.62500709295273, 231.62500709295273, 231.62500709295273, 1);
}.e6_135 { 
	width:1152.0069580078125px;
	height:0px;
	position:absolute;
	left:0px;
	top:0px;
}.e6_148 { 
	width:122px;
	height:37px;
	position:absolute;
	left:941px;
	top:1799px;
}.e6_136 { 
	background-color:rgba(107.00000122189522, 70.00000342726707, 193.00000369548798, 1);
	width:122px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}.e6_137 { 
	color:rgba(255, 255, 255, 1);
	width:74px;
	height:19px;
	position:absolute;
	left:11px;
	top:9px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e6_142 { 
	width:20px;
	height:20px;
	position:absolute;
	left:92px;
	top:9px;
}.e6_143 { 
	width:20px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
}.e6_144 { 
	background-color:rgba(255, 255, 255, 1);
	width:16.666667938232422px;
	height:16.666667938232422px;
	position:absolute;
	left:1.6666667461395264px;
	top:1.6666667461395264px;
}